# Pandas - Merge & Group by
Answer the questions below.


*   a) What is the full name of the state with the highest "total" population in 2012?
*   b) If we only consider the "total" population, what is the state with the highest population per area (sq. mi) in 2012?
* c) which area did get a pick-up(pickup_borough) the most?
* d) what is the average fare in each pickup_borough area?

In [1]:
# Following are shell commands to download the data
!curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv
!curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv
!curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 57935  100 57935    0     0  81544      0 --:--:-- --:--:-- --:--:-- 81598
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   835  100   835    0     0   1760      0 --:--:-- --:--:-- --:--:--  1757
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   872  100   872    0     0   1896      0 --:--:-- --:--:-- --:--:--  1899

In [2]:
import pandas as pd
import seaborn as sns

###### a,b #######
pop = pd.read_csv('/content/state-population.csv')
areas = pd.read_csv('/content/state-areas.csv')
abbrevs = pd.read_csv('/content/state-abbrevs.csv')
pd.set_option('display.max_columns', 74)
pd.set_option('display.width', 500)

print(pop.head())
print(areas.head())
print(abbrevs.head())


###### c,d #######
taxisDf = sns.load_dataset('taxis')

print(taxisDf.info())
print(taxisDf.head())

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0
        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707
        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB
None
               pickup             dropoff  passengers  distance  fare   tip  tolls  total   color      payment            pickup_zone           dropoff_zone pickup_borough dropoff_borough
0 2019-03-23 20:21:09 2019-03-23 20:27:24           1      1.60   7.0  2.15    0.0  12.95  yellow  credit card        Lenox Hill West    UN/Turtle Bay South      Manhattan       Manhattan
1 2019-03-04 16:11:55 2019-03-04 16:19:00           1      0.79   5.0  0.00    0.0   9.30  yellow         cash  Upper West Side South  Upper West Side South      Manhattan       Manhattan
2 2019-03-27 17:53:01 2019-03-27 18:00:25           1      1.37   7.5  2.36    0.0  14.16  yellow  credit card          Alphabet City           West Village      Manhattan       Manhattan
3 2019-03-10 01:23:59 2019-03-10 01:49:51           1      7.70  27.0  6.15    0.0  36.95  yellow  credit card              Hudson Sq         Yorkville West      Manhattan       Manhattan
4 2019-03-30 13:27:42 2019-03-30 13:37:14           3      2.16   9.0  1.10    0.0  13.40  yellow  credit card           Midtown East         Yorkville West      Manhattan       Manhattan

In [26]:
pop_total = pop[(pop['year'] == 2012) & (pop['ages'] == 'total') & (pop['state/region'] !='USA') & (pop['state/region'] !='PR')] # Select only state with total pop and left the USA
pop_max_2012 = pop_total[(pop_total['population'] == pop_total['population'].max())] #Select the max pop number by .max()
merge_df = pd.merge(pop_max_2012,abbrevs,how = 'left', left_on = 'state/region', right_on= 'abbreviation') #merge df and to match the abreviation and state
state_name_max_pop = merge_df['state'].iloc[0] #Select onlt state name
print(state_name_max_pop)
print(merge_df)

California
  state/region   ages  year  population       state abbreviation
0           CA  total  2012  37999878.0  California           CA

In [32]:
pop_total_area = pd.merge(pop_total,abbrevs,how = 'left',left_on = 'state/region',right_on = 'abbreviation')

pop_total_area = pd.merge(pop_total_area,areas,how = 'left',left_on = 'state',right_on = 'state')

pop_total_area['Pop per Area'] = pop_total_area['population']/pop_total_area['area (sq. mi)']
print(pop_total_area)

   state/region   ages  year  population                 state abbreviation  area (sq. mi)  Pop per Area
0            AL  total  2012   4817528.0               Alabama           AL          52423     91.897221
1            AK  total  2012    730307.0                Alaska           AK         656425      1.112552
2            AZ  total  2012   6551149.0               Arizona           AZ         114006     57.463195
3            AR  total  2012   2949828.0              Arkansas           AR          53182     55.466662
4            CA  total  2012  37999878.0            California           CA         163707    232.121278
5            CO  total  2012   5189458.0              Colorado           CO         104100     49.850701
6            CT  total  2012   3591765.0           Connecticut           CT           5544    647.865260
7            DE  total  2012    917053.0              Delaware           DE           1954    469.320880
8            DC  total  2012    633427.0  District of Columbia           DC             68   9315.102941
9            FL  total  2012  19320749.0               Florida           FL          65758    293.815946
10           GA  total  2012   9915646.0               Georgia           GA          59441    166.814926
11           HI  total  2012   1390090.0                Hawaii           HI          10932    127.157885
12           ID  total  2012   1595590.0                 Idaho           ID          83574     19.091942
13           IL  total  2012  12868192.0              Illinois           IL          57918    222.179495
14           IN  total  2012   6537782.0               Indiana           IN          36420    179.510763
15           IA  total  2012   3075039.0                  Iowa           IA          56276     54.642103
16           KS  total  2012   2885398.0                Kansas           KS          82282     35.067184
17           KY  total  2012   4379730.0              Kentucky           KY          40411    108.379649
18           LA  total  2012   4602134.0             Louisiana           LA          51843     88.770596
19           ME  total  2012   1328501.0                 Maine           ME          35387     37.542063
20           MD  total  2012   5884868.0              Maryland           MD          12407    474.318369
21           MA  total  2012   6645303.0         Massachusetts           MA          10555    629.588157
22           MI  total  2012   9882519.0              Michigan           MI          96810    102.081593
23           MN  total  2012   5379646.0             Minnesota           MN          86943     61.875551
24           MS  total  2012   2986450.0           Mississippi           MS          48434     61.660197
25           MO  total  2012   6024522.0              Missouri           MO          69709     86.423876
26           MT  total  2012   1005494.0               Montana           MT         147046      6.837955
27           NE  total  2012   1855350.0              Nebraska           NE          77358     23.983945
28           NV  total  2012   2754354.0                Nevada           NV         110567     24.911176
29           NH  total  2012   1321617.0         New Hampshire           NH           9351    141.334296
30           NJ  total  2012   8867749.0            New Jersey           NJ           8722   1016.710502
31           NM  total  2012   2083540.0            New Mexico           NM         121593     17.135361
32           NY  total  2012  19576125.0              New York           NY          54475    359.359798
33           NC  total  2012   9748364.0        North Carolina           NC          53821    181.125657
34           ND  total  2012    701345.0          North Dakota           ND          70704      9.919453
35           OH  total  2012  11553031.0                  Ohio           OH          44828    257.719082
36           OK  total  2012   3815780.0              Oklahoma           OK          69903     54.586785
37           OR  total  2012   3899801.0                Oregon           OR          98386     39.637764
38           PA  total  2012  12764475.0          Pennsylvania           PA          46058    277.139151
39           RI  total  2012   1050304.0          Rhode Island           RI           1545    679.808414
40           SC  total  2012   4723417.0        South Carolina           SC          32007    147.574499
41           SD  total  2012    834047.0          South Dakota           SD          77121     10.814785
42           TN  total  2012   6454914.0             Tennessee           TN          42146    153.156029
43           TX  total  2012  26060796.0                 Texas           TX         268601     97.024196
44           UT  total  2012   2854871.0                  Utah           UT          84904     33.624694
45           VT  total  2012    625953.0               Vermont           VT           9615     65.101716
46           VA  total  2012   8186628.0              Virginia           VA          42769    191.414997
47           WA  total  2012   6895318.0            Washington           WA          71303     96.704458
48           WV  total  2012   1856680.0         West Virginia           WV          24231     76.624159
49           WI  total  2012   5724554.0             Wisconsin           WI          65503     87.393768
50           WY  total  2012    576626.0               Wyoming           WY          97818      5.894886

In [36]:
max_per_area = pop_total_area[(pop_total_area['Pop per Area'] == pop_total_area['Pop per Area'].max())]
print(max_per_area['state'].iloc[0])

District of Columbia

In [65]:
pickup_counts_pivot = taxisDf.pivot_table(index='pickup_borough', aggfunc='size')
Most_Pickup = pickup_counts_pivot.idxmax()
print(Most_Pickup)

Manhattan

In [66]:
avg_pivot = taxisDf.pivot_table(index = 'pickup_borough',values = 'fare',aggfunc = 'mean')
print(avg_pivot)

                     fare
pickup_borough
Bronx           20.999091
Brooklyn        16.520836
Manhattan       11.152889
Queens          24.934642